<h1>Resumen de publicación</h1>
<p>Publicado a partir de: {{ post.availableAt | date('Y-m-d') }}</p>
<p>Título {{ post.title }}</p>
{#<p>Descripción {{ post.body }}</p>#}
<p>Descripción {{ post.body | raw }}</p>
