{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row pt-4">
            <div class="col-6">
                <h4>WELLCOME TO THE COMUNITY MODERATOR DASHBOARD</h4>
            </div>
        </div>
    </div>
{% endblock %}
